// ================================= GENERAL =================================

$font-family: 'Courier New', Courier, monospace;
$primary-bg-color: rgb(107, 180, 107);
$primary-text-color: brown;

body{
    font-family: $font-family;
    background-color: $primary-bg-color;
    color: $primary-text-color;
}

.container{
    display: flex;
    flex-direction: column;
}

.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

// ================================= LEAGUES CONTAINER =================================

.tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.tab-button{
    padding: 20px;
    border-radius: 30px;
    background-color:  rgb(81, 148, 81);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    color: brown;

    &:hover {
        background-color: darken(rgb(81, 148, 81), 10%);
        transform: translateY(-5px);
    }
}

// ================================= TEAMS CONTAINER =================================

.teams-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

img{
    width: 200px;
    height: 200px;
}

.which-league-selected-message{
    padding: 20px;
    font-weight: bold;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}